* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Microsoft Yahei", "Arial", "sans-serif", "宋体";
    color: #333;
    font-size: 14px;
    background-color: #fff;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #ff2840;
  }

  :root {
    --bg-color: #fff;
    background-color: var(--bg-color);
  }
  
  :root.dark {
    --bg-color: #000;
  }
  
  ::view-transition-new(root),
  ::view-transition-old(root) {
    animation: none;
  }
  
  .dark::view-transition-old(root) {
    z-index: 1000;
  }