* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Microsoft Yahei", "Arial", "sans-serif", "宋体";
    color: #333;
    font-size: 14px;
    background-color: #fff;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #ff2840;
  }